<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <h1>{{ conteudo }}</h1>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo:'Usando VueJS!',
            conteudo: 'PEI'
        }
    })
</script>