<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button v-on:click="somar(10, $event)">Somar 1</button>
    <p v-on:mousemove="atualizarXY"> Mouse: {{ x }} - {{ y }}
        <span v-on:mousemove.stop>parar aquiiii</span>
    </p>
    <a v-on:click="naoNavegar" href="http://google.com">Google</a>
    <!-- v-on:click.prevent ->nao deixou carreggar o google -->
    <hr>
    <input type="text" v-on:keyup="exibirAlerta">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0,
        },
        methods:{
            somar(passo, event) {
                console.log(passo, event)
                this.contador += passo
            },
            atualizarXY(e) {
                this.x = e.clientX
                this.y = e.clientY
            },
            naoNavegar(event) {
                event.preventDefault() //mesma coisa .prevent
            },
            exibirAlerta() {
                alert('estou te alertando')
            }

            // parar(event) {
            //     event.stopPropagation()
            // }
        }
    })
</script>