<script src="https://unpkg.com/vue"></script>

<div id="pei">
    <!-- 1)Exibir alerta quando o botao for clicado -->
    <div>
        <button v-on:click="aqui">Exibir alerta</button>
    </div>
    
    <!-- 2) escute o evento keydown e armazene o valor na propriedade data 
                dica(event.target.value) -->
    <div>
        <input type="text" v-on:keydown="valor = $event.target.value">
        <p>{{ valor }}</p>
    </div>
    
    <!-- 3) ajuste o ex 2 para disparar o evento keydown somente quando a tecla for enter -->
    <div>
        <input type="text" v-on:keydown.enter="valor = $event.target.value">
        <p>{{ valor }}</p>
    </div>

</div>
<script>
    new Vue({
        el: '#pei',
        data: {
            valor: ""
        },
        methods: {
            cliquei() {
                alert('botao foi clicado')
            },
            aqui(event) {
                console.log(event.target)
            }
        }
    });
</script>