<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <!-- 1) Preencha a tag <p> abaixo com o seu Nome e Idade - usando Interpolação -->
    <p v-once>Usando VueJS - {{ nome }} - {{ idade }} anos </p>
    
    <!-- 2) Exiba sua idade multiplicada por 3 -->
    <p>{{ xIdade() }}</p>
    
    <!-- 3) Chame uma função para exibir um número randomico
        entre 0 and 1 (Math.random()) -->
    <p>{{ random() }}</p>
    
    <!-- 4) Procure uma imagem no google e exiba na tag img 
        fazendo o binding no atributo "src" -->
    <div>
        <img height="400" v-bind:src="link" />
    </div>
    
    <!-- 5) Inicialize o input com o seu nome (use o atributo "value") -->
    <div>
        <label for="">{{ nome2 }}</label><br>
        <input type="text" v-model="nome2">
    </div>
</div>
<script>
    new Vue({
        el: '#desafio',
        data: {
            nome: 'Caio',
            nome2: '',
            idade: '21',
            link: 'https://miro.medium.com/max/400/1*wqYF-8Dmh7LhtLkKfERc3Q.png'
        },
        methods: {
            xIdade() {
                return this.idade * 3
            },

            random() {
                return Math.random()
            }
        }
    });
</script>